
table { 
    border: 1px solid black; 
    margin-left: auto; 
    margin-right: auto; 
} 
h1{
    text-align: center;
}

input[type="button"] { 
    width: 100%; 
    padding: 40px 40px; 
    background-color: rgb(32, 90, 216); 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
} 

input[type="text"] { 
    padding: 20px 30px; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid black; 
} 